body{
    font-family: sans-serif;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#container{
    display: flex;
}

#canvasContainer{
    border: 3px solid black;
    width: 400px;
    height: 400px;
}

#buttons{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.btn-animal{
    border: 3px solid black;
    color: black;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    width: 120px;
}

#resultadoContainer{
    margin-top: 20px;
    width: 400px;
}

#resultadoLabel{
    font-weight: bold;
    color: black;
    font-size: 20px;
}

#barra{
    width: 100%;
    height: 20px;
    border: 2px solid brown;
    margin-top: 5px;
    position: relative;
}

#progreso{
    height: 100%;
    background-color: brown;
    width: 0%;
    text-align: center;
    color: white;
    font-size: 12px;
}